body {
    background-color: black;
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 100px;
    margin-left: 0px;
    max-height: 60%;

}

h1 {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 40px;

}

button {
 background-color: green;
 display: inline-block;
 zoom: 1;
 width: 80%;
 height: 80%;
 padding: 5px;
 border-radius: 12px;
 margin-left: 50px;
 font-size: 60px;

}

